.upgradePlanBarContainer {
  min-height: 57px;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #dde2e4;
  display: flex;
  flex-direction: column;
  padding: 20px;

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .upgradeContainer {
      display: flex;
      min-width: 110px;
      gap: 5px;

      img {
        margin-left: 10px;
      }

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #00b840;
        cursor: pointer;
      }
    }
  }
}
