.mainContainer {
  .contextBaselineDiv {
    background-color: #ffffff;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

    .pTageOne {
      font-family: "Inter";
      font-style: normal;
      padding-left: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #2e2e2e;
     margin-left: -10px;
    }

    .pTageTwo {
      margin-left: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #2e2e2e;
      margin-left: 0px;
    }

    .pTageThree {
      font-style: Medium;
      margin-right: 35px;
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #2e2e2e;
    }
  }

  .barContentContainer {
    display: flex;

    .layoutDiv {
      display: flex;

      .siderStyle {
        background-color: #ffffff;
        border: 1px solid #dde2e4;
        width: 289px;
        height: 100%;

        .sideInnerDiv {
          max-width: 100%;
          .importantDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dde2e4;
            padding: 0 20px;
            padding-bottom: 10px;

            .pTagFour {
              font-size: 18px;
              font-weight: 600;
              padding-left: 10px;
              margin-top: 30px;
            }
            .btnClass {
              background-color: #ffffff;
              height: 40px;
              margin-top: 10px;
              text-align: center;
              align-items: center;
              width: 40px;
              border-radius: 50px;
              cursor: pointer;
              border: 1px solid #e0e0e0;
            }
            .closeIconImg {
              margin-top: 5px;
            }
          }

          .pTageGroup {
            max-width: 90%;
            margin: auto;
            padding: 0 20px;
            text-align: left;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.006em;
            color: #000000;
          }
        }
      }
    }

    .contentContainer {
      width: 100%;

      .innerContentContainer {
        width: 90%;
        margin: auto;
        padding: 25px 0px;

        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: -0.006em;
          text-transform: capitalize;
          color: #000000;
        }

        .dataContentBox {
          background: #ffffff;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          min-height: 400px;
          padding: 40px 60px 60px 40px;
          margin-bottom: 25px;

          .formData {
            :global(.ant-input) {
              min-height: 150px;
              padding: 16px;
              background: #ffffff;
              border: 1px solid #e0e0e0;
              border-radius: 5px;
              margin-bottom: 25px;
              padding-right: 26%;

              &::placeholder {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.5);
              }
            }

            :global(.ant-form-item-label > label) {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              color: #000000;
            }

            :global(.ant-form-item-explain-error) {
              margin-bottom: 25px;
            }
          }
        }

        .footerButtonsDiv {
          margin: 50px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .nextButton { 
 &:disabled {
          background-color: gray;
        }
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            height: 40px;
            font-size: 20px;
            line-height: 27px;
            border: none;
            color: #ffffff;
            background: #00b840;
            border-radius: 5px;
            padding: 6px 20px;
          }

          .btnDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .twoBtnDiv {
              display: flex;
              justify-content: center;
              gap: 11px;
              .goBtn {
                // height: 50px;
                // width: 80px;
                color: #2e2e2e;
                background: #ececf1;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                width: 116px;
                height: 40px;
                img {
                  margin-top: 1px;
                }
              }
              .saveBtn {
                width: 116px;
                height: 40px;
                color: #2E2E2E;
                white-space: nowrap;
                background: #ececf1;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
      
                line-height: 27px;
              }
            }
            @media only screen and (max-width: 425px) {
              .twoBtnDiv {
                margin-bottom: 0;
                .goBtn {
                  height: 40px;
                  width: 80px;
                }
                .saveBtn {
                  height: 40px;
                  width: 90px;
                }
              }
            }
          }
          @media only screen and (max-width: 425px) {
            .nextButtonDiv {
              .nextButton {
 &:disabled {
          background-color: gray;
        }
                height: 40px;
                width: 114px;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;

      .layoutDiv {
        .siderStyle {
          width: 90%;
          margin: auto;
          margin-top: 25px;
        }
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .contextBaselineDiv {
      flex-direction: column-reverse;

      .pTageThree {
        margin-bottom: 0px;
      }
    }
  }
}
.fontSizeInput{
  font-size: 18px !important;
  font-family: "Inter";
}