.mainWrraper {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
    span{
        color: blue;
    }
}