.mainContainer {
  background-color: #f7f7f7;

  .container {
    background-color: #ffffff;
    margin: auto;
    min-height: 600px;
    max-width: 704px;
    left: 373px;

    border-radius: 5px;

    .hTwo {
      text-align: center;
      padding-top: 20px;
    }
    .mainPdiv {
      .pTagOne {
        text-align: justify;
        margin: 20px;
        padding: 20px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.6;
      }
      .pTagTwo {
        text-align: justify;
        margin: 20px;
        margin-top: 0;
        padding: 20px;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 600;
        text-align: justify;
        margin-bottom: 0;
      }
      .pTagThree {
        text-align: justify;
        margin: 20px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        font-size: 16px;
        line-height: 1.6;
      }
    }
    @media only screen and (max-width: 425px) {
        .mainPdiv {
            .pTagOne {
                font-size: 14px;
            }
            .pTagTwo {
                font-size: 14px;
            }
            .pTagThree {
                font-size: 14px;
            }
        }
    }
    .checkBoxDiv {
      display: flex;
      justify-content: left;
      gap: 10px;
      margin-top: 0;
      align-items: center;
      margin-left: 40px;
    }
  }
  .btnDiv {
    height: 225px;
    .nextButtonDiv {
      display: flex;
      justify-content: center;
      max-width: 62%;
      margin-top: 10px;

      .nextButton {
        margin-top: 25px;
        height: 50px;
        width: 134px;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: #00b840;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
      }
    }
    @media only screen and (max-width: 425px) {
      .nextButtonDiv {
        .nextButton {
          height: 40px;
          width: 114px;
        }
      }
    }

    .twoBtnDiv {
      display: flex;
      padding-inline: 28px;
      margin-top: 39px;

      justify-content: space-between;
      .goBtn {
        height: 50px;
        width: 134px;
        color: #808080;
        background-color: #e6e6e6;
        border-radius: 5px;
        border: none;
      }
      .saveBtn {
        color: #808080;
        background-color: #e6e6e6;
        height: 50px;
        width: 134px;
        left: 1247px;
        border: none;
        top: 982px;
        border-radius: 5px;
      }
    }
    @media only screen and (max-width: 425px) {
      .twoBtnDiv {
        padding-inline: 20px;
        margin-bottom: 0;
        .goBtn {
          height: 40px;
          width: 114px;
        }
        .saveBtn {
          height: 40px;
          width: 114px;
        }
      }
    }
  }
}
